.heading {
  display: inline;
}

.parentLink {
  margin-left: 1em;
}

.container {
  & a:visited {
    color: #00f;
  }
}

.description {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 1em;
}
