.person {
  padding-left: 1em;
}

.parents {
  margin-top: 1em;
}

.header {
  display: flex;
}

.picture {
  & img {
    height: 10em;
    margin-right: 1em;
  }
}

.info {
  flex-grow: 1;
  display: flex;

  & > div {
    font-size: 0.9em;
    flex-grow: 1;
  }
}

.content {
  display: flex;
  flex-wrap: wrap-reverse;

  & > div {
    flex-grow: 1;
  }
}

.personEvents {
  padding-right: 1em;
}

.coatOfArms {
  & img {
    height: 8em;
  }
}
