.timeline {
  margin-top: 1em;
  min-width: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.timelineRow {
  display: flex;
  flex-direction: row;
  height: 4em;

  & div {
    flex-basis: 6em;
  }
}

.timelineText {
  flex-grow: 2;
  align-self: center;
}

.line {
  max-width: 2em;

  & div {
    height: 100%;
    top: 40%;
    position: relative;
    border-left: 1px solid #000;
  }

  & div::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: -7px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #000;
  }
}

.place {
  font-style: italic;
  font-size: 0.9em;
}

.age {
  padding-left: 0.5em;
}

.date {
  width: 5em;
  flex-grow: 0.25;
  align-self: center;
}

.last {
  & div {
    border: none;
  }
}
