@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h {
  font-weight: 400;
}

.timeline-date {
  width: 4em;
  display: inline-block;
}

.timeline-text {
  display: inline-block;
}

.occupations {
  margin-top: 1em;
  margin-bottom: 1em;
}

.timeline-events {
  display: flex;
}
.family-events {
  width: 30em;
}

.leaflet-container {
  height: 100%;
}
